{% extends "base2.html" %}
{% block content %}
<!-- Srart Contact Us
		=========================================== -->		
        <section class="contact-us section bg-gray" id="contact">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="title text-center">
                            
                            <h2>Sign Up</h2>
                            <span class="border"></span>
                            <h4>Discover your next career opportunity</h4>
                        </div>
                    </div>
                </div>
                
                    <!-- / End Contact Details -->
                        
                    <!-- Contact Form -->
                    <div class="contact-form col-12 col-md-6 " style="width: 50%; margin: 0 auto;" >
                        <form id="contact-form" method="post" role="form" action="{% url 'signup' %}">
                            {% csrf_token %}
                        
                            <div class="form-group">
                                <input type="text" placeholder="Your Email" class="form-control" name="email" id="email">
                            </div>
                            
                            
                            <div class="form-group">
                                <input type="password" placeholder="Your Password" class="form-control" name="password" id="password">
                            </div>

                            <div class="form-group">
                                <input type="password" placeholder="Confirm Your Password" class="form-control" name="confirm_password" id="confirm_password">
                            </div>

                            
                        
                            
                            <div id="mail-fail" class="error">
                                Sorry, your credentials are wrong :(
                            </div>
                            
                            <div id="cf-submit">
                                <input type="submit" style="background-image: linear-gradient(100deg, #f9643d, #fe2a77);border: none;
                                padding: 15px 0;
                                width: 100%;
                                margin: 0;color: #fff;border-radius: 0;cursor: pointer;"  onmouseover="this.style.borderColor='#f0326b'" id="submit" class="btn btn-transparent" value="SIGN UP">
                            </div>						
                            
                        </form>
                    </div>
                    <!-- ./End Contact Form -->
                </div> <!-- end row -->
                <div class="row">
                    <div class="col-12 col-md-4">
                        <div class="address-block contact-meta-block">
                            <i class="tf-ion-android-pin"></i>
                            <h4>Our Location</h4>
                            <p>
                                14/05, Stockhome <br>
                            Victori Palace , United States <br>
                            
                            </p>
                            
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="phone-block contact-meta-block">
                            <i class="tf-ion-ios-telephone"></i>
                            <h4>Call Us</h4>
                            <p>
                                Office: (03) 9283 2617 <br>
                                Fax: +61 3827 3590
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="social-icons-block contact-meta-block">
                            <i class="tf-ion-ios-contact"></i>
                            <h4>We are social</h4>
                            <ul class="list-inline social-icon">
                                <li class="list-inline-item"><a href=""><i class="tf-ion-social-facebook"></i></a></li>
                                <li class="list-inline-item"><a href=""><i class="tf-ion-social-twitter"></i></a></li>
                                <li class="list-inline-item"><a href=""><i class="tf-ion-social-linkedin"></i></a></li>
                                <li class="list-inline-item"><a href=""><i class="tf-ion-social-dribbble"></i></a></li>
                                <li class="list-inline-item"><a href=""><i class="tf-ion-social-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
            </div> <!-- end container -->
        </section> <!-- end section -->
<!-- Contact End -->
{% endblock %}